body {
    margin: 0;
}

.container {
    display: flex;
    justify-content: space-around;
    background: #0C4A6E;
    padding-bottom: 60px;
}

h3 {
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    /* identical to box height, or 90% */

    text-align: center;

    color: #EEEEEE;

}
h2 {
    margin-top:0px;
    margin-bottom:40px;
    background: #080001;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    /* or 141% */
    text-align: center;
    color: #F94F6D;

}

button{
    margin-top:0px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    background: transparent;
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    /* or 155% */
    color: #9AABD8;
}

